.AboutBanner {
  background-image: url("../../assets/course/1.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  */

.AboutBannerTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .AboutBanner {
    background-position: top;
    height: 50vh;
  }

  .AboutBannerTitle {
    font-size: 2rem;
  }
}
