.newclass {
  font-family: "Helvetica";
}

/* .BlogsBanner {
  background-image: url("../../assets/home/HomeBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

.BlogsBannerOverlay {
  background-image: url("../../assets/home/HomeBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 25px;
  left: 0;
}

.BlogsBannerTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  padding: 0 1rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .BlogsBanner {
    height: 50vh;
    background-position: top;
  }

  .BlogsBannerTitle {
    font-size: 2rem;
  }
}
